<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
    <ion-buttons slot="end">
      <ion-button  routerLink="/create-item">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode='ios'  (ionChange)="search($event)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <!-- <ion-item *ngFor="let item of items" [routerLink]="['/item',item.id]"> -->
    <ion-item *ngFor="let item of items" routerLink="/item/{{item.id}}">
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
